#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.advent-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;

  .selected {
    background-color: #424141;
  }
}

.advent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .input-solve-container {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .input-container-label {
        font-weight: bold;
      }
    }

    .solve-button {
      padding: 0.2em 0.7em;
      font-weight: 400;
    }
  }

  .solutions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
